<h1 class="title is-size-3">New Discussion</h1>

<%# Renderuje nasz widok partial view z przkezaniem zmiennej o nazwie discussion %>
<%= render 'form', discussion: @discussion %>

<%# Link do wszystkich dyskusji %>
<%= link_to 'Back', discussions_path %>